@import url(./root-style.css);
@import url(./utilities.css);

.contact-section{
    background: var(--sub-dark-gray);
    display: flex;
    justify-content: center;
    align-items: center;

    .contact-section__form-wrapper{
        justify-content: center;
        .contact-form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            position: relative;
            
            padding: 1rem;
            border-radius: 1rem;
            border: 1px solid var(--sub-light-gray);

            -webkit-box-shadow: 8px 10px 20px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 8px 10px 20px 0px rgba(0,0,0,0.75);
            box-shadow: 8px 10px 20px 0px rgba(0,0,0,0.75),
                     -106px -37px 0px 0px rgba(255,239,219,1);

            

            &::after{
                width: 4em;
                height: 4px;
                content: "";
                background: var(--primary-light);
                border-radius: .5em;

                position: absolute;
                bottom: 0;
                transform: translateY(50%);
            }
            
            .contact-form__title{
                color: white;
                font-weight: 700;
                font-size: 2em;
                margin: .6em 0;
            }
        
            .contact-form__guest-input{
                width: 90%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                
                *::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    font-size: .8rem;
                    padding-left: 1rem;
                    transform: translateY(-20%);
                  }
                .guest-input__name{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    input{
                        width: 45%;
                        border-radius:.3em;
                        border: none;
                        color: white;
                        background: rgba($color: #090909, $alpha: 0.11);

                    }
                }
                .guest-input__email{
                    display: block;
                    width: 100%;
                    border-radius:.3em;
                    border: none;
                    color: white;
                    background: rgba($color: #090909, $alpha: 0.11);
                }
                .guest-input__message{
                    display: block;
                    width: 100%;
                    border-radius:.3em;
                    border: none;
                    color: white;
                    background: rgba($color: #090909, $alpha: 0.11); 
                    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                        
                        transform: translateY(50%);
                      }
                    &::-webkit-scrollbar{
                        width: 4px;
                        background: var(--primary-light);
                        
                    }
                }
                .guest-input__submit{
                    align-self: flex-end;
                    button{
                        width: 2em;
                        height: 2em;
                        border: none;
                        border-radius: 50%;
                        background: var(--primary-light);
                        margin: 0 1rem;
                    }
                    label{
                        font-weight: 600;
                    }
                    
                }
            }
        }
        
    }
    .contact-section__avatar{
        width: 15em;
        height: 15em;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    
}

@media screen and (max-width: 769px) {
    .contact-form{
        right: 0px !important;
    }
}